$mondriaan-red:   #d7151e
$mondriaan-blue:  #09488a
$mondriaan-yellow:  #e9d359
$primary-background: slategrey
$div-background: #eee

=flex-row()
  display: flex
  flex-direction: row
  justify-content: flex-start
  flex-wrap: nowrap

=flex-column()
  display: flex
  flex-direction: column
  justify-content: flex-start
  flex-wrap: nowrap

body
  +flex-column
  align-items: center
  background-color: $primary-background
  margin: 0
  padding: 0

button
  width: 10em
  height: 3em
  margin-bottom: 1em
  border: 2px solid $mondriaan-blue
  border-radius: 5px
  box-shadow: 5px 5px 5px black

button:hover
  border: 2.5px solid $mondriaan-blue

button:active
  border: 3px solid $mondriaan-blue

div
  background-color: $div-background

.container
  +flex-column
  width: 70vh
  height: 75vh

.row-1
  +flex-row
  height: 70%

  .row-1-left
    +flex-column
    width: 30%

    .row-1-left-top
      box-shadow: inset -12px -20px black
      height: 60%

    .row-1-left-bottom
      box-shadow: inset -12px -12px black
      height: 40%

  .row-1-right
    +flex-column
    background-color: $mondriaan-red
    box-shadow: inset 0 -12px black
    width: 70%

.row-2
  +flex-row
  height: 30%

  .row-2-left
    width: 30%
    box-shadow: inset -12px 0 black
    background-color: $mondriaan-blue

  .row-2-center
    width: 55%
    box-shadow: inset -12px 0 black

  .row-2-right
    width: 15%

    .row-2-right-top
      height: 60%
      box-shadow: inset 0 -20px black

    .row-2-right-bottom
      height: 40%
      background-color: $mondriaan-yellow
